.header {
  padding: 20px 0;
  background-color: #fff;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: #74cfae;
  text-decoration: none;
}

.signout-btn {
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  background-color: #74cfae;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.signout-btn:hover {
  color: #74cfae;
  background-color: #fff;
}
